body{
    width: 100%;
    height: 650px;
}
section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 650px;
    border: 1px solid black;
    background-image: url('/imagem/Vinil-Burger.jpg');
    background-size: 700px 650px  ;
    background-repeat: no-repeat;
   
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: brown;
}
header h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1.8em;
}
header img{
   width: 110px; 
   height: 110px;
   margin-top: 20px;
   text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top: 22px;
    width: 90%;
    height: 84%;
    background-color: rgba(24, 23, 23, 0.411);
    border:1px solid rgba(36, 34, 34, 0.418);
}
main ul{
    margin-left: 10px;
    font-family: 'Merriweather', serif;
    color: white;
}
main ul h2{
    font-weight: 900;
    font-size: 1.2em;
}
main ul li{
    padding: 4px;
}
@media (max-width: 900px) {
    section{
        width: 100%;
        background-size: 100% 650px;
        
    }

}
